<form method="post" action="view.php?id={{courseid}}&action=savestudentcontact">
    <div class="form-group row">
        <label for="inputEmail1" class="col-sm-2 col-form-label">Contact Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail1" placeholder="Name" value="{{name}}" name="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" value="{{email}}"
                   name="email">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail4" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputEmail4" placeholder="Phone" value="{{phone}}"
                   name="phone">
        </div>
    </div>
    <input type="hidden" name="userid" value="{{userid}}"/>
    <input type="hidden" name="studentid" value="{{studentid}}"/>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>


