<div class="content">
    <div class="action">
        {{#user}}
            <a href="post.php?student={{studentid}}&action=edit" class="btn btn-primary">Edit Contact Info </a>
            <div>
                <div class="col-sm-4">Contact Name</div>
                <div class="col-sm-8">{{name}}</div>
                <div class="col-sm-4">Email</div>
                <div class="col-sm-8">{{email}}</div>
                <div class="col-sm-4">Phone</div>
                <div class="col-sm-8">{{phone}}</div>
                <br/>
            </div>
        {{/user}}
        {{^user}}
            <a href="post.php?student={{studentid}}&action=add" class="btn btn-primary">Add Contact Info</a>
        {{/user}}


