<h1>list student</h1>
<table align="center" width="635" class="generaltable" border="0" cellpadding="5" cellspacing="0">

    <tr>
        <td>ID</td>
        <td>Full name</td>
        <td>Contact name</td>
        <td>Email</td>
        <td>Phone</td>
    </tr>

    {{#students}}
        <tr>
            <td>{{id}}</td>
            <td>{{firstname}} {{lastname}}</td>
            <td>{{#contactname}} {{contactname}} {{/contactname}}</td>
            <td>{{#contactemail}}{{contactemail}}{{/contactemail}}{{^contactemail}}{{email}}{{/contactemail}}</td>
            <td>{{#contactphone}}{{contactphone}}{{/contactphone}}{{^contactphone}}{{phone}}{{/contactphone}}</td>
        </tr>
    {{/students}}

</table>

{{username}}
{{test}}